################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2. Platforms/0. Windows Desktop/Program/MP_Practica.exe
